PORT = 5000
DB_URL= 'Your MONGODB URL'
SECRET = shoaibakhter
COOKIE_EXP = 25
USER_EMAIL  = 'Your Email'
USER_PASSWORD  = 'Your Gmail Converter Password'
TOKEN_EXP  = '3d'
FRONTEND_URL="http://localhost:3000" 
# https://blogifyblog.web.app

#fIREBASE
API_KEY= ""
AUTH_DOMAIN=""
PROJECT_ID=""
STORAGE_BUCKET=""
MESSAGING_SENDER_ID=""
APP_ID=""
MEASUREMENT_ID=""

clientid=your client id